.body{
    padding-top: 0px;
}

.btn{
    font-size: 16px;
}

a:hover, a:focus{
     text-decoration: none;
}

h3.title{
    color: #D53E07;
}

.panel-title input[type="checkbox"]{
    margin-left: 20px;
}

.admin-menu.navbar-nav{
    margin-bottom: 20px;
}

.admin-menu .navbar-nav > li > a{
    font-size: 18px;
    text-transform: uppercase;
}

.admin-menu .navbar-nav > li > a:hover, 
.admin-menu .navbar-nav > li > a:focus{
    background-color: transparent;
    padding-bottom: 5px;
    border-bottom: 3px solid #ED9121; 
}

.admin-menu .navbar-nav > li.active > a{
    padding-bottom: 5px;
    border-bottom: 3px solid #ED9121; 
}

/*** админ раздел "Разделы"***/

#accordionSection .panel-default{
    border-color: #FFA812;
}

#accordionSection .panel-default > .panel-heading {
    background-color: #F0E68C;
    border-color: #FFA812;/*#dcd36a;*/
    color: #333;
}

#accordionSection .panel-body {
    background-color: #fdf5e6;
}

.button.add{
    padding: 0 0 15px 0;
}

.select label{
    line-height: 40px;
}

.bootstrap-select .btn-default:hover,
.bootstrap-select .btn-default:active:hover,
.bootstrap-select .btn-default.active:hover,
.bootstrap-select .open > .dropdown-toggle.btn-default:hover,
.bootstrap-select .btn-default:active:focus,
.bootstrap-select .btn-default.active:focus,
.bootstrap-select .open > .dropdown-toggle.btn-default:focus,
.bootstrap-select .btn-default:active.focus,
.bootstrap-select .btn-default.active.focus,
.bootstrap-select .open > .dropdown-toggle.btn-default.focus{
    background-color: #FDF5E6;
}

.bootstrap-select > .btn-default:active, 
.bootstrap-select > .btn-default.active, 
.bootstrap-select.open > .dropdown-toggle.btn-default {
    background-color: #FDF5E6;
}

.bootstrap-select .dropdown-menu > li > a:hover,
.bootstrap-select .dropdown-menu > li > a:focus {
    background-color: #FDF5E6;
}

.bootstrap-select .btn-default:focus,
.bootstrap-select .btn-default.focus {
    background-color: #FDF5E6;
}

.container-form{
    padding: 10px 0;
    background-color: #FDF5E6;
}

.list-group-item{
    background-color: #FDF5E6;
}

li.list-group-item:hover{
    background-color: #F0E68C;
}

li.list-group-item.success{
    background-color: #66ff66;
}

li.list-group-item.success:hover{
    background-color: #66ff40;
}

li.list-group-item.success a,
li.list-group-item.success span{
    color: #000;
}

.file-input-wrapper.btn-default:hover{
    background-color: #FDF5E6;
}

/*пагинация*/
.text-center > .pagination{
    padding: 15px 0px;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #fff;
    border: 2px solid #ED9121;
    border-radius: 4px;
    color: #000;
}

.pagination > li > a, .pagination > li > span {
    padding: 6px;
    border: 2px solid #fff;
    margin-left: 10px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #fff;
    border: 2px solid #ED9121; 
    border-radius: 4px;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    border-color: #fff;
}

/*end pagination*/

.modal-content {
    background-color: rgba(0, 0, 0, 0.35);
}

.modal-header {
    border-bottom: 0px solid #e5e5e5;
}

.modal-header .glyphicon{
    color: #fff;
    opacity: 0.8;
}

.modal-header > h4{
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.modal-body textarea{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    max-width: 570px;
    min-width: 570px;
    padding: 10px;
}

#modal-seo{
    color: #fff;
}

.block-btn-save{
    padding-top: 20px;
    text-align: center;
}

.breadcrumb > .active {
    color: #d53e07;
    font-weight: bold;
}

.breadcrumb{
    background-color: #fdf5e6;
}

.breadcrumb > li + li::before{
    color: #000;
}

.orders > span{
    display: inline-block;
}

.orders > .number{
    width: 3%; 
}

.orders > .user{
    width: 30%; 
}

.orders > .price{
    width: 20%; 
}

.orders > .date{
    width: 20%; 
}

.orders > .state{
    font-weight: 700;
}

.orders > .state.state-processing,
.orders > .state.state-expect_call,
.orders > .state.state-accepted{
    color: #FF6600;
}

.orders > .state.state-completed{
    color: #009900;
}

.orders > .state.state-locked{
    color: #FF0000;
}