*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;    
}

body{
    background-color: #fff;
    height: 100%;
}

a{
    /*color: #7e7d7d;*/
}

a:hover,
a:focus{
    /*color: #fc6443;
    transition: color 0.3s ease 0s;
    text-decoration: none;*/
    outline: none;
}

.content{
    height: 100%;
    min-height: 100%;
}

.wrap{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    padding-top: 60px;
}

.body{
    margin: auto;
    padding: auto;
    width: 1000px;
    padding-top: 82px;
}

.top-header{
    background-color: #474547;
    background-image: linear-gradient(to bottom, #454545 0px, #474747 100%);
    background-repeat: repeat-x;
}

.top-header .blck-navigation{
    background-color: #373737;
}

.container .main{
    background-color: #fff;
    margin-left: 0px;
    padding: 25px 0px 0px 10px;
    box-sizing: border-box;
}

footer {
    height: 90px;
    margin-top: -96px;
    position: relative;
}

footer .container .main{
    padding: 0px 0px 40px 10px;
}

#content > .row{
    margin-right: 0px;
}

header .logo a img {
    width: 160px;
}

.top-header .content{
    margin: auto;
    padding: auto;
    width: 1000px;
}

.padding-right{
    padding-right: 15px;
}

.form-control:focus {
    border-color: #D53E07;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 100, 67, 0.6);
}

.company-name{
    display: table;
    height: 7em;
    text-align: center;
}

.company-name .info{
    display: table-cell;
    vertical-align: middle;
    color: #fc6443;
    
}

.company-name .info > .name{
    font-size: 1.8em;
    text-transform: uppercase;
}

.company-name .info > .phone-contact{
    font-size: 1.1em;
    color: #fff;
}

.product-view-list .sale,
.product-buy .sale{
    text-align: center;
    font-size: 12px;
}

.product-view-list .sale .large,
.product-buy .sale .large{
    font-size: 14px;
    font-weight: 700;
}

/*cart (корзина)*/
.top-header .cart{
    color: #fff;
    padding: 20px 0;
}

.top-header .cart-header{
    padding: 10px;
    display: block;
    background-color: #757575;
}

.cart-header .glyphicon{
    color: #fc6443;
    font-size: 18px;
}

.cart-header a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    outline: none;
}

.cart-header a:hover,
.cart-header a:focus{
    color: #fc6443;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.cart .cart-info{
    color: #bfbebe;
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    display: block;
    background-color: #676767;
}

.cart .cart-info .orders{
    color: #fc6443;
    margin-left: 3px;
    cursor: pointer;
}

.cart .cart-info .orders .count_order{
    font-size: 14px;
    font-weight: 700;
}

.cart-main{
    position: relative;
}

.cart-content{
    display:none;
    /*margin-left:0px;
    padding:10px;
    margin-top:0px;*/
    background:#f3f3f3;
    overflow: hidden;
    color: #000;
    top: 100px;
    right: 0;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.cart-content.active{
    display: block;
    position: absolute;
    z-index: 100;
    width: 400px;
    border: 1px solid #676767;
    /*height:200px;*/
}

.cart-item {
    background: #fff;
    margin: 2px 0;
    overflow: hidden;
    padding: 12px;
    width: 100%;
}

.cart-item .left-info {
    float: left;
}

.cart-item a.cart-img {
    display: inline-block;
    float: left;
    margin: 0 5px 0 0;
}

.cart-item .cart-img img {
    height: 60px;
    width: 60px;
}

.cart-item .center-info {
    float: left;
    width: 75%;
}

.cart-item .cart-name {
    color: #000;
    float: left;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
}

.cart-item .cart-name:hover {
    color: #D53E07;
}

.cart-item .quantity {
    color: #000;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.cart-item span {
    float: left;
    margin: 0 5px 0 0;
}

.cart-item > span{
    display: block;
    float: none;
    text-align: center;
    text-transform: lowercase;
}

.cart-item .quantity .spr {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
}

.cart-item .cart-price {
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: normal;
}

.cart-item .delete,
.table a.del_order {
    float: right;
    padding: 4px;
    color: #fc6443;
}

.table a.del_order{
    text-align: center;
    float: none;
}

.table a.del_order:hover{
    color: red;
}

.cart-content .cart-bottom {
    overflow: hidden;
    padding: 12px;
    text-align: right;
}

.cart-content .cart-bottom .total {
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.cart-content .cart-bottom .total span {
    color: #000;
    margin: 0 0 0 5px;
}

.cart-content .cart-bottom .btns {
    float: right;
    margin: 10px 0 0;
    overflow: hidden;
    text-align: right;
}

.cart-content .cart-bottom a {
    float: left;
}

/*end cart*/

header .navigation{
    text-align: right;
}

header .navigation a,
footer .navigation a{
    font-size: 13px;
    line-height: 18px;
    border-right: 1px solid #5b5b5b;
    color: #7e7d7d;
    display: inline-block;
    padding: 7px 10px 10px;   
}

footer .navigation a{
    border: none;
    padding: 7px 10px 1px;
}

header .navigation a.vl,
header .navigation a:first-child{
    border-left: 1px solid #5b5b5b;
}

header .navigation a:hover,
header .navigation a:focus{
    color: #fc6443;
    transition: color 0.3s ease 0s;
    text-decoration: none;
    outline: none;
}

footer .navigation a:hover,
footer .navigation a:focus{
    color: #ffffff;
    transition: color 0.3s ease 0s;
    text-decoration: none;
    outline: none;
}
/*menu*/

.menu{
    padding-right: 0px;
}

.menu .navbar-default{
    background-color: #fc6443;
    border-color: #fc6443;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
    transition: color 0.3s ease 0s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
    background-color: #fc6443;
    color: #252525;
}

/*end menu*/

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

#login{
    color: black;
    float: right;
    height: 20px;
    margin-right: 20px;
}

nav{
    clear: both;
}

/*верхнее меню*/
#mainNav ul li{
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    list-style-position: outside;
    list-style-type: none;
    display: block;
    float: left;
    padding: 0 15px; 
    margin: 2px 0px;
    border-right: 1px solid white;
}

#mainNav ul li:last-of-type{
    border: 0px;
}

#mainNav ul li a{
    text-decoration: none;
    color: white;
}

#mainNav ul li a:hover{
    color: #DF9513;
}

#sidebar{
    width: 300px;
    float: left;
}

.logout{
    color:black;
}

#sectionNav ul li{
    /*display:block;
    float:left;*/
    list-style-type: none;
}

.active{
    border: 0px solid green;
}

.show li > span{
    /*float: left;*/
    width: 60px;
}

span input{
    /*float: left;*/
}

#info{
    height: 20px;
    background: greenyellow;
    margin: 5px;
}

/*
#sectionNav{
    border: 1px solid black;
}*/

/*input[type=checkbox]{
    padding: 15px 0 0 0;
}*/
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
    position: absolute;
}

/*список категорий*/
#sectionNav ul{
    margin: 0 15px 0 0;
    /*padding: 0px;*/
}

.clear{
    clear: both;
}

#categoryNav select{
    margin: 10px 10px 10px 0;
    /*padding: 5px 20px 0 0;*/
    /*border: 1px;*/
    font-size: 16px;
    line-height: 1;
}

#ctButtons button{
    margin-left: 40px;
}

#adminMC div{
    float: left;
    margin-right: 20px;
}

#adminActionMC{
    clear: both;
}

.category{
    width: 600px;
    height: 35px;
}

.selectChbx{
    background: yellow;
}

/*левое меню*/
.list-group-head{
    background: #474747 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding: 15px 0 16px 15px;
    text-transform: uppercase;
}

.list-group-head .glyphicon{
    color: #fc6443;
    font-size: 16px;
    padding-right: 15px;
    float: right;
}

.list-group.panel{
    border: 0px solid transparent;
}

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.list-group-submenu {
    margin-left: 20px;
}

.list-group > .list-group-item-success {
    /*font-weight: bold;*/
    background-color: #373737;
    color: #fff;
    border-top: 1px solid #313131;
    transition: background-color 0.3s ease 0s;
}

a.list-group-item-success, button.list-group-item-success {
    color: #fff;
    transition: background-color 0.3s ease 0s;
}

.list-group > a.list-group-item-success:hover,
.list-group > button.list-group-item-success:hover,
.list-group > a.list-group-item-success:focus,
.list-group > button.list-group-item-success:focus {
    background-color: #373737;
    color: #fc6443;
}

.list-group > a.list-group-item-success .section-text.active{
    color: #fc6443;
}

div.list-group > .list-group-item .glyphicon{
    color: #fff;
    float: right;
}

.list-group-item {
    background-color: #313131;
    border: 0px solid #313131;
    padding: 10px 20px;
    transition: background-color 0.3s ease 0s;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group div > a.list-group-item, .list-group div > button.list-group-item {
    color: #7e7d7d;
    font-size: 13px;
    line-height: 16px;
    transition: color 0.3s ease 0s;
}

.list-group div > a.list-group-item:hover,
.list-group div > button.list-group-item:hover,
.list-group div > a.list-group-item:focus,
.list-group div > button.list-group-item:focus {
    color: #fff;
    background-color: #373737;
}

.list-group-item .glyphicon-chevron-right{
    font-size: 10px;
    color: #fff;
    display: inline-block;
    float: left;
    position: relative;
    top: 3px;
}

.list-group-item .category-text{
    display: inline-block;
    padding-left: 5px;
    width: 90%;
}

.list-group a:focus {
    outline: none;
}

.in .list-group-item.act, 
.in .list-group-item.act:hover, 
.in .list-group-item.act:focus {
    background-color: #373737;
    border-color: #373737;
    color: #fff;
    z-index: 2;
}

.collapse .list-group-item{
    cursor: pointer;
}

/*end*/


#message-info{
    display: block;
    overflow: auto;
    position: relative;
}

#message-info .message-text{
    padding-left: 20px; 
    font-size: 16px;
}

#message-info #message{
    display: block;
    float: left;
    padding-left: 10px;
}

.glyphicon.glyphicon-exclamation-sign{
    display: block;
    float: left;
    padding-top: 3px;
}

li.list-group-item:hover{
    background-color: #eeeeee;
}

.category-list, .product-list, .right-list{
    text-align: right;
    float: right;
}

#variantsales{
    padding: 5px 0 0 0;
}

.search{
    padding: 0;
}

.search .search-ajax{
    padding: 10px;
    margin-bottom: 15px; 
}

.section-image{
    display: inline;
}

.section-image .glyphicon{
    font-size: 35px;
}

.img-responsive.center{
    margin: auto;
}

/*текст в картинке*/
.image-text{
    display:inline-block;   
    position:relative;
    color: #fff;
    cursor: pointer;
    width: 100%;
    overflow:hidden;
    height: 250px;
}


.image-text:hover,
.image-text:focus{
    color: #fc6443;
}


.image-text > img{
    border: 1px solid #fff;
    border-radius: 15px;
    width: 100%;
    height: 250px;
}

.image-text > img:hover{
    border: 7px solid #fff;
    border-radius: 20px;
    transform: scale(1.05) translate3d(0px, 0px, 1px);
    transition: transform 0.2s linear 0s;
    will-change: transform;
}

.product-buy .image-text > img{
    height: 200px;
}

.image-text .text {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 2px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 12px;
    display: block;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.image-product-small > img{
    border: 1px solid #fff;
    border-radius: 8px;
    width: 100%;
    height: 150px;
}

.product-view-list{
    margin-left: 15px;
    margin-right: 15px;
}

.product-view-list .product-buy.item{
    border-bottom: 1px solid #e7e7e7;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product-view-list .product-buy.item:last-child{
    border: none;
    margin-bottom: 0px;
}

.product-view-list .product-name{
    font-size: 1.2em;
    font-weight: 700;
    color: #fc6443;
}

.product-view-list .product-description{
    padding-top: 5px;
}

.product-view-list .product-img{
    padding-left: 0px;
}

.product-view-list .product-price{
    padding-right: 0px;
    margin-top: 25px;
}

.product-view-list .product-price .sale{
    margin-bottom: 5px;
}
.text-block{
    display: inline-block;
    vertical-align: middle;
}

.control-label{
    padding-right: 10px;
    padding-left: 10px;
}

.image-text:focus{
    outline: none;
}

.product-buy{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #c5c5c5; 
    margin-bottom: 20px;
}

.product-buy.item{
    padding: 0px;
    border: none;
}

.btn-site{
    background-color: #fc6443;
    /*border: 1px solid #222222;*/
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2) inset, 0 -1px 0 #3d3d3d inset;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: background-color 0.3s ease 0s;
}

.btn-site:focus,
.btn-site:hover {
    background-color: #D53E07;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.35);
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, .1));
    text-shadow: 0 1px 1px rgba(0,0,0, .8);
    font-weight: normal;
    border-color: #872f17;
    color: #ffffff;
    text-decoration: none;
}

.btn-site.btn-small{
    font-size: 12px;
    padding: 5px;
}

/* page product*/
.img-block{
    width: 100%;
}

.line-bottom{
    border-bottom: 1px solid #c5c5c5;
    color: #fc6443;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

h4.line-bottom{
    border-bottom: 2px solid #c5c5c5;
    padding-bottom: 5px;
}

.amount > .form-control{
    display: inline-block;
    width: 40%;
    padding: 5px;
    height: 26px;
}

.amount > .glyphicon{
    cursor: pointer;
}

.sale-line{
    padding-bottom: 10px;
    line-height: 30px;
}

.zakaz.active{
    opacity: 0.5; 
}

.table-bordered tr,
.table-bordered tr > th,
.text-center tr > th{
    text-align: center;
}

td.delete{
    text-align: center;
}

.table.table-striped > thead > tr > td, 
.table.table-striped > tbody > tr > td, 
.table.table-striped > tfoot > tr > td{
    vertical-align: middle;
}

.table.table-striped > thead > tr > th:nth-child(1){
    width: 10%;
}

.table.table-striped > thead > tr > th:nth-child(2){
    width: 33%;
}

.table.table-striped > thead > tr > th:nth-child(3),
.table.table-striped > thead > tr > th:nth-child(4),
.table.table-striped > thead > tr > th:nth-child(5),
.table.table-striped > thead > tr > th:nth-child(6),
.table.table-striped > thead > tr > th:nth-child(7){
    width: 11%;
}

.cart-total{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.cart-currency{
    font-size: 12px;
    font-weight: normal;
}

.cart-cost{
    font-weight: normal;
}

.navbar-bottom{
    margin-bottom: 0px;
    background-color: #373737;
    border-radius: 0px;
    min-height: unset;
}

.btn-search{
    font-size: 18px;
    margin-left: -7px;
    padding: 5px 12px;
    color: #ffffff;
    background-color: #272727;
    border: none;
    border-radius: 0 4px 4px 0;
}

.btn-search:hover,
.btn-search:focus{
    color: #ffffff;
    background-color: #000000;
}

.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default.focus:active, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open > .dropdown-toggle.btn-default.focus, 
.open > .dropdown-toggle.btn-default:focus, 
.open > .dropdown-toggle.btn-default:hover {
    background-color: #000000;
    border-color: #8c8c8c;
    color: #f3f3f3;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: none;
}

.underline{
    text-decoration: underline;
}

.panel-body a,
.table a,
form a{
    color: #000000;
    text-decoration: underline;
}

a,
form a:hover,
form a:focus{
    color: #000000;
    text-decoration: none;
}

a:hover,
a:focus,
.panel-body a:hover,
.panel-body a:focus,
.table a:hover,
.table a:focus{
    color: #D53E07;
    text-decoration: none;
}

.copyright{
    color: #7e7d7d;
    font-size: 13px;
    padding: 0px 0px 10px 10px;
}

.hello{
    color: #fc6443;
}

.contact{
    line-height: 30px;
}

#contentList .search .img-responsive{
    height: 50px;
}

.table.table-striped.search > thead > tr > th:nth-child(1){
    width: 5%;
}

.table.table-striped.search > thead > tr > th:nth-child(2){
    width: 10%;
}

.table.table-striped.search > thead > tr > th:nth-child(3){
    width: 85%;
}

/*пагинация*/
.pagination-block{
    background-color: #ebebeb;
    border: 1px solid #c5c5c5;
    border-radius: 0;
    padding-top: 5px;
}

.pagination{
    margin: 0;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #fff;
    border: 2px solid #fc6443;
    border-radius: 4px;
    color: #000;
}

.pagination > li > a, .pagination > li > span {
    background-color: #ebebeb;
    color: #272727;
    padding: 6px;
    border: 2px solid #ebebeb;
    margin-left: 10px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #000;
    background-color: #fff;
    border: 2px solid #fc6443; 
    border-radius: 4px;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

/*end pagination*/

/* breadcrumb */
.breadcrumb > .active {
    color: #fc6443;
    font-weight: bold;
}

.breadcrumb, .sorter {
    background-color: #ebebeb;
    border: 1px solid #c5c5c5;
    border-radius: 0;
    /*font-weight: bold;*/
    padding: 12px 20px;
    margin-right: 15px;
}

.breadcrumb > li + li::before{
    color: #000;
}

.breadcrumb a{
    color: #5b5b5b;
    text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:focus{
    color: #D53E07;
    text-decoration: none;
}
/*end breadcrumb*/

/*sorter*/
.category-description,
.sorter{
    margin-bottom: 15px;
}

.sorter form div{
    display: inline-block;
}

.sorter form div.view{
    margin-left: 20px;
}

.sorter form div .glyphicon{
    margin-left: 10px;
    cursor: pointer;
}

/*history orders*/
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.panel-default {
    border-color: #000;
}

.panel-title > .status{
    display: inline-block;
    float: right;
}

.panel-default > .panel-heading{
    border-color: #ddd;
    color: #333;
}

.panel-processing > .panel-heading,
.panel-expect_call > .panel_heading,
.panel-accepted > .panel-heading{
    background-color: #FFFF99
}

.panel-completed > .panel-heading{
    background-color: #66FF66;
}

.panel-locked > .panel-heading{
    background-color: #FF3300;
}

.panel-title {
    font-weight: 700;
}

.panel-body{
    padding: 0 15px;
}

.panel-body > .row{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 12px;
}

.panel-body > .row:last-child{
    border: none;
}

.panel-body .right{
    float: right;
}

.panel-body .amount,
.panel-body .sum{
    font-size: 14px;
    font-weight: 700;
}

.panel-body .measure{
    line-height: 22px;
}

.panel-title > a{
    font-size: 12px;
}

.panel-title > a > span{
    padding-right: 20px;
}

.panel-title > a:hover,
.panel-title > a:focus{
    text-decoration: none;
}

.panel-title .sum{
    font-size: 14px;
}

/* end history orders*/

.messageStackSuccess {
    background-color: #373737;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #ececec;
    font-size: 11px;
    font-weight: bold;
    height: 46px;
    left: 50%;
    line-height: 18px;
    margin-left: -175px;
    padding: 12px 0 2px 20px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 350px;
    z-index: 1111;
}

.g-recaptcha{
    padding-left: 15px;
}

.img-responsive.zoo-item{
	cursor: pointer;
    height: 250px;
    position: relative;
}

/*modal modal-table */
.modal-table .table-striped > thead > tr{
    background-color: #FFE4C2;
}

.modal-table .table-striped > tbody > tr:nth-of-type(2n){
  background-color: #FFFAF5;
}

.modal-table .table-striped > thead > tr > th{
    vertical-align: middle;
}

.modal-table .table > caption + thead > tr:first-child > th, 
.modal-table .table > colgroup + thead > tr:first-child > th, 
.modal-table .table > thead:first-child > tr:first-child > th, 
.modal-table .table > caption + thead > tr:first-child > td, 
.modal-table .table > colgroup + thead > tr:first-child > td, 
.modal-table .table > thead:first-child > tr:first-child > td {
    border: 1px solid #FFD7A7;
}

.modal-table .table-bordered > thead > tr > th, 
.modal-table .table-bordered > tbody > tr > th, 
.modal-table .table-bordered > tfoot > tr > th, 
.modal-table .table-bordered > thead > tr > td, 
.modal-table .table-bordered > tbody > tr > td, 
.modal-table .table-bordered > tfoot > tr > td {
    border: 1px solid #FFD7A7;
}

.modal-table .table-striped > thead > tr > th:nth-child(2){
    padding: 8px 0 0 0;
}

.modal-table .table-striped > thead > tr > th .th-caption{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

.modal-table .table-striped > thead > tr > th .left{
    border-top: 1px solid #FFD7A7;
    border-right: 1px solid #FFD7A7;
    padding: 10px 0;
    -webkit-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.modal-table .table-striped > thead > tr > th .right{
    width: 100%;
    border-top: 1px solid #FFD7A7;
}

/*modal modal-armatura-price */
#modal-armatura-price .table-striped > thead > tr > th:nth-child(1),
#modal-armatura-price .table-striped > thead > tr > th:nth-child(2){
    width: 18%;
}

#modal-armatura-price .table-striped > thead > tr > th:nth-child(3),
#modal-armatura-price .table-striped > thead > tr > th:nth-child(4),
#modal-armatura-price .table-striped > thead > tr > th:nth-child(5),
#modal-armatura-price .table-striped > thead > tr > th:nth-child(6){
    width: 16%;
}

/*modal modal-armatura-compare-table */
#modal-armatura-compare-table .table-striped > thead > tr > th:nth-child(1),
#modal-armatura-compare-table .table-striped > tbody > tr > td:nth-child(2){
    width: 20%;
}

#modal-armatura-compare-table .table-striped > tbody > tr > td:nth-child(2),
#modal-armatura-compare-table .table-striped > tbody > tr > td:nth-child(3){
    width: 40%;
}

/*modal modal-armatura-replacement-table */
#modal-armatura-replacement-table .table-striped > thead > tr > th .right{
    padding: 10px 0;
}

#modal-armatura-replacement-table .table-striped > tbody > tr > td{
    width: 15%;
}

#modal-armatura-replacement-table .table-striped > tbody > tr > td:nth-child(1){
    width: 40%;
}

#modal-armatura-replacement-table .table-striped > thead > tr > th .left{
    border-right: none;
}

#modal-armatura-replacement-table .table-striped > thead > tr > th .right{
    border-left: 1px solid #FFD7A7;
}

/*modal modal-setka-price */
#modal-setka-price .table-striped > thead > tr > th{
    width: 20%;
}

#modal-setka-price .table-striped td{
    /*padding: 8px 0px;*/
}

.b-border{
    border-bottom: 1px solid #FFD7A7;
}

#modal-setka-price .table-striped th .b-border,
#modal-setka-price .table-striped td .b-border,
#modal-setka-price .table-striped th div:nth-child(2),
#modal-setka-price .table-striped td div:nth-child(2){
    padding: 8px 0px;
}

.view .glyphicon.active{
    color: #fc6443;
}

.sorter .glyphicon:hover{
    color: #fc6443;
}

.sorter select{
    padding: 2px 5px;
}

.sorter select option{
    padding: 0 5px;
}

.category-description{
    margin-right: 15px;
}

.category-description .name{
    font-size: 1.7em;
    color: #fc6443;
    margin-bottom: 15px;
}

.category-description .image{
    border-radius: 8px;
    height: 200px;
    width: 100%;
}

.bold{
    font-weight: bold;
}

@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #fc6443, 0 0 8px #fc6443; }
}

@keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #fc6443, 0 0 8px #fc6443; }
}

.not_worked{
    background-color: #000000;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    color: #fc6443;
    border: 5px solid red;
    z-index: 9999;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 2s linear infinite;
}

.contact textarea{
    width: 100%;
}


